<% if current_user %>
    <% if current_user.user_type == "Vendor" %>
        <%= render 'form' %>
    <% else %>
        <h1>You must be a vendor to create a new listing</h1>
    <% end %>
<% else %>
    <h1>Unauthorized Access<h1><br>
    <h2>You must sign in to view this page</h2><br>
    <%= link_to "Log in", user_session_path %><br><br>
    <%= link_to "Sign Up", new_registration_path(User) %>
<% end %>