<footer>
<div class="footer", id ="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="#" class="logo_footer"><%=image_tag("logo.png")%></a>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 ">
                        <div class="address">
                            <h3>Address </h3>
                            <ul class="loca">
                                <li>
                                    Comsats University, Raiwand 
                                    <br> Rd, Lahore
                                </li>
                                <li>
                                    (+92 3334934383) 
                                </li>
                                <li>
                                    organicproducts@gmail.com
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="address">
                            <h3>Social Link of Developers</h3>
                            <ul class="Menu_footer">
                                <li><a href="#">Twitter</a> </li>
                                <li><a href="https://www.facebook.com/usama.murtaza.7/">Facebook</a> </li>
                                <li><a href="https:instagram.com/mad.dexter">Instagram</a> </li>
                                <li><a href="#">Linkdin</a> </li>
                            </ul>
                        </div>
                    </div>                    
                    <div class="col-lg-4 col-md-6 col-sm-6 ">
                        <div class="address">
                            <h3>Give your suggestion</h3>
                            <%= form_tag(suggestions_path, method: 'post') do %>
                                <%= text_field_tag :body, nil, class: "newslatter", placeholder: "Give Suggestion" %>
                                <%= button_tag "Submit" , { class: "submit" } %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>